
.heading 
{
	text-align: center;
  	padding-bottom: 10px;
  	font-size: 25px;  
  	font-weight: bold;
  	font-family: 'Bree Serif', serif;
}

#map 
{
 	margin-left: auto;
 	margin-right: auto;
 	height: 500px;
 	width: 900px;
}

#anchor-div
{
	text-align: center;
}
#anchor
{
	width: 900px;
}